# Dependencies
node_modules
.npm
.yarn

# Version Control
.git
.gitignore
.github

# Build Output
dist
out
build

# Docker
Dockerfile
Dockerfile.dev
docker-compose*.yml
.dockerignore

# Environment / Local Config
.env
.env.local
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
